* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  /* display: flex; */
  background-color: #000;
  height: 100vh;
}

.searchBar {
  display: block;
  border: 1px solid red;
  background-color: red;
}

.trackList {
  position: absolute;
  top: 50px;
}